body{
    background-image: url("../images/background.jpeg");
    font-family: 'Pangolin', cursive;
}

.container{
    background-color: burlywood;
    width: 80%;
    margin: auto;
    height: 680px;
    text-align: center;
}

h1{
    color: rgb(99, 25, 25);
    font-size: 50px;
}

#start{
    width: 50%;
    height: 50px;
    background-color: palevioletred;
    border-color: navy;
    font-size: 30px;
    margin-top: 200px;

}
.thisOptions:hover{
	background-color:green;
	color: white;
    padding: 10px;
    margin: auto;
    width: 50%;
}

.reset{
    width: 50%;
    height: 50px;
    background-color: palevioletred;
    border-color: navy;
    font-size: 30px;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}

#finalMessage{
    color: red;
    font-size: 100px;
}

#correctAnswers,#incorrectAnswers,#unAnswered{
    font-size: 30px;
}

@media screen and (max-width:640px){
	.container{
		width: 500px;
		margin-top: 200px;
		size: 200%;
	}	
}